{% if cookiecutter.use_celery == "y" %}
celery==3.1.24
django-celery==3.1.17
{% endif %}
Django==1.9.11
django-filter==1.0.0
django-rest-swagger==2.1.0
djangorestframework==3.5.3
gunicorn==19.6.0
Logentries==0.17
psycopg2==2.6.2
pip-tools==1.7.0
whitenoise==3.2.2
Markdown==2.6.7
itypes==1.1.0
dj-database-url==0.4.1
dj-email-url==0.0.10
{% if cookiecutter.use_newrelic == 'y' %}newrelic==2.74.0.54{% endif %}
{% if cookiecutter.db_type == 'postgres' %}psycopg2==2.6.2{% endif %}
{% if cookiecutter.db_type == 'mysql' %}MySQL-python==1.2.5{% endif %}
{% if cookiecutter.use_redis == 'y' %}
django-redis==4.6.0
redis>=2.10.5
{% endif %}