container_commands:
 01_collectstatic:
   command: "python manage.py collectstatic --noinput"

option_settings:
 - namespace: aws:elasticbeanstalk:container:python
   option_name: WSGIPath
   value: "{{cookiecutter.project_name}}/wsgi.py"
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumProcesses
   value: 4
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumThreads
   value: 10
 - namespace: aws:elasticbeanstalk:container:python:staticfiles
   option_name: "/static/"
   value: "{{cookiecutter.project_name}}/staticfiles/"