container_commands:
 00_migrate:
   command: "python manage.py migrate --noinput"
   leader_only: true
 02_get_static_files:
   command: "python manage.py collectstatic --noinput"

option_settings:
 - namespace: aws:elasticbeanstalk:container:python
   option_name: WSGIPath
   value: "{{cookiecutter.project_name}}/wsgi.py"
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumProcesses
   value: 4
 - namespace: aws:elasticbeanstalk:container:python
   option_name: NumThreads
   value: 15
 - namespace: aws:elasticbeanstalk:container:python:staticfiles
   option_name: "/static/"
   value: "{{cookiecutter.project_name}}/staticfiles/"